.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-form-root {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form-title {
    width: 100%;
    height: 70px;
    background-color: rgb(213 229 255);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px -2px rgb(0 0 0 / 20%);
}

.profile-form-content {
    height: 100%;
    /* background-color: rgb(230, 230, 230); */
    width: 100%;
    /* margin: 20px; */
    border-radius: 10px;
    /* border: 1px solid lightgray; */
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    /* padding-left: 50px; */
    overflow: auto;
    padding-top: 20px;
}

.profile-picture {
    width: 100%;
    height: 200px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
   
}

.profile-input-fields {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%
}

.profile-form-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.sub-section {
    display: flex;
    padding: 15px;
    align-items: center;
}

.sub-section-heading {
    font-weight: bold !important;
    font-size: 1rem !important;
    padding: 10px;
    display: flex;
}

.form-element {
    width: 300px;
    margin-right: 10px !important;
}
